#search-main-results-container {
  background: #fff;
  border-radius: 0 0 6px 6px;
  font-family: Open Sans;
  position: absolute;
  top: 96%;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow: #fff 0 -8px, 0 2px 10px 0 #aaa;
          box-shadow: #fff 0 -8px, 0 2px 10px 0 #aaa;
  margin-top: 5px;

  .search-results-container {
    padding: 5px 20px;

    .header {
      padding: 5px;
      border-bottom: 1px solid #ccc;

      p {
        font-size: 15px;
        font-weight: bold;
        margin: 0;
      }
      .category {
        color: #000;
        display:inline-block;
      }
      .more {
        color: #2AC56C;
        float: right;
        cursor: pointer;
      }
    }
    .results-container {
      padding: 7px 0;
      height: auto !important;

      .result-block {
        padding: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        &:hover {
          cursor: pointer;
          background: #F5F5F5;
          padding: 4px;
          border: 1px solid #EFEEEE;
          border-radius: 6px;
        }

        .avatar {
          min-width: 60px;
          width: 60px;
          height: 60px;
          background-color: white;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          border-radius:6px;
        }
        .content {
          margin-left: 10px;

          h3 {
            font-size: 17px;
            font-weight: bold;
            margin: 0;
            color: #202020;
          }
          p {
            font-size: 15px;
            color: #787878;
          }
        }
        .news-avatar {
          min-width: 60px;
          max-width: 60px;
        }
        .news-content {
          color: #787878;
          overflow: hidden;
          text-overflow: ellipsis;
          p {
            font-size: 15px;
            color: #787878;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .show-all-results {
    background: #000;
    padding: 3px;
    text-align: center;
    border-radius: 0 0 6px 6px;
    cursor: pointer;

    p {
      width: 100%;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
    }
  }
}

@media (max-width: 767px) {
  #search-main-results-container {
    width: calc(100% - 0.8em);
    margin-top: 0;
    .search-results-container {

      .header {

        p {
          font-size: 13px;
        }
      }
      .results-container {
        .result-block {
          -webkit-box-align: unset;
              -ms-flex-align: unset;
                  align-items: unset;

          .avatar {
            width: 50px;
          }
          .content {

            h3 {
              margin: 6px 0 0 0;
              font-size: 15px;
            }
            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
