// styles.scss

@import './../_global';

.overview_container{
	.ov-directions > div{
		padding: 0 0 20px;
	}

	.upload-label-btn{
		display: inline-block;
		vertical-align: top;
		color: #fff;
		width: 135px;
		cursor: pointer;
		padding: 8px 0 9px;
		font-size: 15px;
		height: 40px;
		background-color: $gray !important;
		margin: 0 0 20px;
		text-align: center;
		@include bRadius(3px);
	}

	.overview_actions{
		> div{
			display: inline-block;
			vertical-align: middle;
			width: 50%;
		}
	}

	.overview-item{
		position: relative;
		margin: 0 0 10px;
		@include fadeInUp(0.25s);

		&.selected{
			background-color: #eee;
		}

		.thumb, .remove{
			position: absolute;
			top: 0; bottom: 0;
			width: 100px;
			margin: auto;
		}

		.thumb{
			left: 0;
			background-color: #eee;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			cursor: pointer;
		}

		.remove{
			right: 0;

			> div{
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
				margin: auto;
				height: 25px;
				text-align: center;
				font-size: 14px;
				color: skyblue;
				cursor: pointer;
			}
		}

		.name{
			padding: 12px 107px;
			font-size: 14px;
			cursor: pointer;
			@include ellipses();
		}
	}

	.img-preview{
		max-width: 500px;
		margin: auto;
		height: 300px;
		background-color: #fff;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.add-vid-label{
		margin: 15px 0;

		.err-msg{
			border: 1px solid $error;
			color: $error;
			font-size: 12px;
			padding: 5px 8px;
		}
	}

	.add-vid-input{
		&.error{
			border: 1px solid $error;
		}
	}

	.uploaded-items{
		max-height: 300px;
		overflow-y: auto;
		margin: 0 0 20px;
	}

	.spinner-wrapper{
		position: relative;
		height: 40px;
	}
}

.upload-err{
	color: $error;
	font-size: 12px;
}

.tinymce-editor{
	height: 400px;
}