/*header start*/

#top-header{
  width: 100%;
  background: #000;
  display: flex;
}

#top-header p {
    color: #d0d0d0;
    font-size: 12px;
    line-height: 24px;
    display: inline;
}
.acolor{
  width: 10%;
  margin-top: 12px;
}

.acolor a {
    color: #d7d7d7;
    font-size: 12px;
    text-decoration: none;
    line-height: inherit;
}


.imgrespons{
  width: 28%;
  margin-left: 15px;
}

.top-bar .name {
    height: 2.8125rem;
    margin: 0;
    font-size: 16px;
    background-color: #000;
}

.top-bar {
    height: auto;
    line-height: 2.8125rem;
    position: relative;
    background: #000;
    margin-bottom: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B1B1B1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #B1B1B1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #B1B1B1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #B1B1B1;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5em;
}

/*header end*/
/*header2 start*/

.headermargb{
  margin-bottom: 2%;
  background: #4a4a4a;
}
/*header2 end*/
.textcolor{
  color: #fff;
}
.body{
  background-color: #f2f4f6 !important;
}
/* Sidebar Start  */

.backcolor{
  background-color: #fff;
  margin: 5%;
}

.fa-mobile-phone:before, .fa-mobile:before {
    font-size: 26px;
    color: #c2c2c2;
}

.fa-user-secret:before {
  font-size: 20px;
  color: #c2c2c2;
}
#sidebar .fa-lock:before {
  font-size: 20px;
  color: #c2c2c2;
}
.fa-envelope:before {
  font-size: 18px;
  color: #c2c2c2;
}
.textalign{
  text-align: center;
  padding-top: 15px;
}
#sidebar {
  background: #FFF;
}
#sidebar h4 {
  color: #565656;
  margin: 0px;
  padding-top: 22px;
}
#sidebar .side-nav li a:not(.button):hover,
#sidebar .side-nav li a:not(.button):focus {
  background: rgba(0, 0, 0, 0.025);
  color: #606060;
  border-left: 2px solid #2ac56c;
}

.margtop{
  margin-left: 1%;
}

#sidebar .side-nav li a:not(.button) {
    display: block;
    color: #606060;
    margin: 0;
    padding: 15px 23px;
    font-size: 16px;
}

/* Sidebar End  */


/*Center Content start */


#middle-colom p {
  color: #606060;
  font-size: 17px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 3px;
}
#middle-colom {
  background: #fff;
  padding: 35px 50px 60px 35px;
}
#middle-colom label {
  font-size: 17px;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}
/*right bar start*/
#rightbar{
  margin-left: 5%;
  background: #fff;
  padding-bottom: 350px;
}
#rightbar .side-nav li a:not(.button) {
  display: block;
  color: #585858;
  margin: 0;
  padding: 15px 70px;
  font-size: 17px;
}
#rightbar .side-nav li a:not(.button):hover,
#rightbar .side-nav li a:not(.button):focus {
  background: #fff;
  color: #363636;
}

/*right bar end*/

